{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'mediafilesync/styles.css' %}">
        <title>{% block title %}MediaFileSync{% endblock %}</title>
    </head>
    <body style='background-color:black;'>"
            
                    
<div style='position:relative;'>"
    <!-- HEADER MENU -->
    <div style='margin:50px 150px auto 150px;height:130px;color:white;'>
        <div style='width:160px;text-align:center;float:left;'><a href="/mediafilesync/"><img src="{% static 'mediafilesync/images/MFS_logo.png' %}" class="mfs_logo"></a></div>
        <div style='width:100px;text-align:center;float:left;'>LIST</div>
        <div style='width:100px;text-align:center;float:left;'>PROFILES</div>
        <div style='width:100px;text-align:center;float:left;'>SETTINGS</div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>