{% extends "./base.html" %}
{% load static %}
{% block title %}Movies{% endblock title %}
{% block javascript%}
<style>
    .siteCallout {color:white;font-size:smaller;background-color:cornflowerblue;border-radius:5px;padding:2px 5px 2px 5px;cursor:pointer;}
    .qualityCallout {color:white;font-size:smaller;background-color:goldenrod;border-radius:5px;padding:2px 5px 2px 5px;margin:2px;cursor:pointer;}
    .siteCallout A {color:white;}
    .siteCallout A:HOVER {text-decoration: none;}
</style>
{% endblock javascript %}
{% block content %}

<div class='CONTAINER'>
    <div style='float:left;width:30px;display:none;' id='divWaiting'>..waiting..</div>
    <div style="margin:5px 5px 20px auto;float:right;border:1px dotted silver;height:25px;padding:3px;border-radius:5px;background-color:lightblue;">
        <i style="padding-left:3px;padding-right:3px;cursor:pointer;" class='glyphicon glyphicon-record' title='Show All' onclick="filterResults('all');"></i>
        <i style="padding-right:3px;cursor:pointer;" class='glyphicon glyphicon-star-empty' title='Show Unmonitored' onclick="filterResults('unmon');"></i>
        <i style="padding-right:3px;cursor:pointer;" class='glyphicon glyphicon-star' title='Show Monitored' onclick="filterResults('mon');"></i>
    </div>
    <table id="tblMovies" class="table stripe" style='width:100%;'>
        <thead>
            <tr>
                <th>media_id</th>
                <th>radarr_id</th>
                <th style='border-bottom:2px solid gray;text-align:left;'>&nbsp;</th>
                <th style='border-bottom:2px solid gray;text-align:left;'>Title</th>
                <th style='border-bottom:2px solid gray;text-align:left;'>Released</th>
                <th style='border-bottom:2px solid gray;text-align:left;'>Rating</th>
                <th style='border-bottom:2px solid gray;text-align:left;'>Quality</th>
                <th style='border-bottom:2px solid gray;text-align:left;'>Links</th>
                <th style='border-bottom:2px solid gray;text-align:left;'>&nbsp;</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody>
            {% for val in testitem.movielist %}
            <tr>
                <td>{{ val.media_id }}</td>
                <td>{{ val.r_id }}</td>
                <td style="border-bottom:1px solid gray;width:60px;">
                    <img src="http://localhost:7878/MediaCover/{{ val.r_id }}/poster.jpg" style="width:50px;cursor:pointer;" onclick="window.open('http://localhost:7878/MediaCover/{{ val.r_id }}/poster.jpg');" />
                </td>
                <td style="border-bottom:1px solid gray;"><a href="{{ system_settings.radarr_path }}/movies/{{ val.titleSlug }}" target="_new">{{ val.title }}</a></td>
                <td style="border-bottom:1px solid gray;">{{ val.releaseDate }}</td>
                <td style="border-bottom:1px solid gray;">{{ val.rating }}</td>
                <td style="border-bottom:1px solid gray;"><span class="qualityCallout">{{ val.quality }}</span></td>
                <td style="border-bottom:1px solid gray;width:150px;">
                    {% if val.tmdbid %}
                    <span class="siteCallout"><a href='http://themoviedb.org/movie/{{ val.tmdbid }}' target="_new">The Movie DB</a></span>
                    {% endif %}
                    {% if val.imdbid %}
                    <span class="siteCallout"><a href='http://imdb.com/title/{{ val.imdbid }}' target="_new">IMDB</a></span>
                    {% endif %}
                    {% if val.youtube %}
                    <span class="siteCallout"><a href='http://youtube.com/watch?v={{ val.youtube }}' target="_new">Trailer</a></span>
                    {% endif %}
                    {% if val.website %}
                    <span class="siteCallout"><a href='http://{{ val.website }}' target="_new">Homepage</a></span>
                    {% endif %}
                    {% if val.tmdbid %}
                    <span class="siteCallout"><a href='http://trakt.tv/search/tmdb/{{ val.tmdbid }}?id_type=movie' target="_new">Trakt</a></span>
                    {% endif %}
                </td>
                <td style="border-bottom:1px solid gray;">
                    {% if val.isMonitored %}
                    <i class="glyphicon glyphicon-star" style='cursor:pointer;' title="Monitored" onclick='delMonitor({{ val.media_id }});' ></i>
                    {% if val.isNewer %}
                    <i class='glyphicon glyphicon-save' title='Sync Needed'></i>
                    {% else %}
                    <i class='glyphicon glyphicon-saved' title='Synced' style="color:silver;"></i>
                    {% endif %}
                    {% else %}
                    <i class="glyphicon glyphicon-star-empty" style='cursor:pointer;' title="Un-Monitored" onclick='addMonitor({{ val.r_id }},{{ system_profile.id }},{{ forloop.counter }});'></i>
                    {% endif %}
                </td>
                <td>
                    {% if val.isMonitored %}
                    IsMonitored
                    {% else %}
                    UnMonitored
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="margin-top:20px;margin-bottom:5px;border-top:1px dotted silver;padding-top:5px;">
        <div style="float:left;width:24%;">total movies: {{ testitem.count }}</div>
        <div style="float:left;width:24%;">total monitored: {{ testitem.monitoredCount }}</div>
        <div style="float:left;width:24%;">total synced: {{ testitem.syncCount }}</div>
        <div style="float:left;width:24%;">total not synced: {{ testitem.notSyncCount }}</div>
    </div>
</div>
{% endblock content %}
{% block postbody %}
<script>
    $(function () {
        $("#divWaiting").show();
        $("#tblMovies").DataTable({
            "order": [[ 1, "asc" ]],
            columnDefs: [
                {targets: 0, visible: false, searchable: false},
                {targets: 1, visible: false, searchable: false},
                {targets: 2, sortable: false, searchable: false},
                {targets: 8, sortable: false},
                {targets: 9, visible: false},
            ]
        });
        $("#divWaiting").hide();
    });
    function addMonitor(rid,pid,idx) {

        var table = $("#tblMovies").DataTable();
        rIdx = 0
        var indexes = table.rows().eq( 0 ).filter( function (rowIdx) {
            if(table.cell( rowIdx, 1 ).data() == rid) {
                rIdx = rowIdx;
            }
        });
        $.ajax({
            url : '/api/profileradarr/add/',
            type : 'POST',
            data: { 
                profile_id: pid,
                radarr_id: rid
            },
            success: function(data)
            {
                var reg = new RegExp('^[0-9]+$');
                if(reg.test(data)){
                    // update the media_id to the new data
                    table.cell(rIdx,8).data("<i class='glyphicon glyphicon-star' style='cursor:pointer;' title='Monitored' onclick='delMonitor(" + data + ");' ></i>")
                    table.cell(rIdx,0).data(data);
                    table.cell(rIdx,9).data("IsMonitored");
                };
            },
            fail: function(xhr, textStatus, errorThrown){
                alert('request failed');
            }
        });
        
    }
    function delMonitor(id) {
        if(confirm('are you sure?')){
            var table = $("#tblMovies").DataTable();
            rIdx = 0;
            var indexes = table.rows().eq( 0 ).filter( function (rowIdx) {
                if(table.cell( rowIdx, 0 ).data() == id) {
                    rIdx = rowIdx;
                };
            });
            $.ajax({
                url : '/api/profileradarr/delete/',
                type : 'POST',
                data: { 
                    prid: id
                },
                success: function(data)
                {
                    if(data == "DelOK"){
                        // update the star to an empty star
                        var r_id = table.cell(rIdx,1).data();
                        table.cell(rIdx,8).data("<i class='glyphicon glyphicon-star-empty' style='cursor:pointer;' title='Not Monitored' onclick='addMonitor(" + r_id +",{{ system_profile.id }}," + rIdx + ");' ></i>")
                        table.cell(rIdx,9).data("UnMonitored");
                        // clear the media_id, set to 0
                        table.cell(rIdx,0).data("0");
                    } else {
                        alert("Data not DelOK = " + data);
                    };
                },
                fail: function(xhr, textStatus, errorThrown){
                    alert('request failed');
               }
            });
        }
    }
    function filterResults(stat){
        var table = $("#tblMovies").DataTable();
        if(stat=="mon"){
            table.column(9).search("IsMonitored").draw();
        } else if(stat=="unmon") {
            table.column(9).search("UnMonitored").draw();
        } else {
            table.column(9).search("").draw();
        }
    }
</script>
{% endblock postbody %}
