{% extends "./base.html" %}
{% load static %}
{% block title %}Movies{% endblock title %}
{% block javascript%}

{% endblock javascript %}
{% block content %}

<div class='CONTAINER'>
    <div style='float:left;width:30px;display:none;' id='divWaiting'>..waiting..</div>
    <div style="margin:5px 5px 20px auto;float:right;border:1px dotted silver;height:25px;padding:3px;border-radius:5px;background-color:lightblue;">
        <i style="padding-left:3px;padding-right:3px;" class='glyphicon glyphicon-record' title='Show All'></i>
        <i style="padding-right:3px;" class='glyphicon glyphicon-star-empty' title='Show Unmonitored'></i>
        <i style="padding-right:3px;" class='glyphicon glyphicon-star' title='Show Monitored'></i>
        <i style="padding-right:3px;" class='glyphicon glyphicon-save' title='Show Sync Needed'></i>
        <i style="padding-right:3px;" class='glyphicon glyphicon-saved' title='Show Synced'></i>
    </div>
    <table id="tblMovies" class="" style='width:100%;'>
        <thead>
            <tr>
                <th>id</th>
                <th style='border-bottom:2px solid gray;text-align:left;'>Title</th>
                <th style='border-bottom:2px solid gray;text-align:left;'>Rating</th>
                <th style='border-bottom:2px solid gray;text-align:left;'>Released</th>
                <th style='border-bottom:2px solid gray;text-align:left;'>lastUpd</th>
                <th style='border-bottom:2px solid gray;text-align:left;'>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for val in testitem.movielist %}
            <tr>
                <td>{{ val.media_id }}</td>
                <td style="border-bottom:1px solid gray;"><a href="http://themoviedb.org/movie/{{ val.tmdbid }}" target="_new">{{ val.title }}</a></td>
                <td style="border-bottom:1px solid gray;">{{ val.rating }}</td>
                <td style="border-bottom:1px solid gray;">{{ val.releaseDate }}</td>
                <td style="border-bottom:1px solid gray;">{{ val.lastUpdt }}</td>
                <td style="border-bottom:1px solid gray;">
                    {% if val.isMonitored %}
                    <i class="glyphicon glyphicon-star" style='cursor:pointer;' title="Monitored" onclick='delMonitor({{ val.media_id }});' ></i>
                    {% if val.isNewer %}
                    <i class='glyphicon glyphicon-save' title='Sync Needed'></i>
                    {% else %}
                    <i class='glyphicon glyphicon-saved' title='Synced' style="color:silver;"></i>
                    {% endif %}
                    {% else %}
                    <i class="glyphicon glyphicon-star-empty" style='cursor:pointer;' title="Un-Monitored" onclick='addMonitor({{ val.r_id }},{{ system_profile.id }});'></i>
                    {% endif %}
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="margin-top:20px;margin-bottom:5px;border-top:1px dotted silver;padding-top:5px;">
        <div style="float:left;width:24%;">total movies: {{ testitem.count }}</div>
        <div style="float:left;width:24%;">total monitored: {{ testitem.monitoredCount }}</div>
        <div style="float:left;width:24%;">total synced: {{ testitem.syncCount }}</div>
        <div style="float:left;width:24%;">total not synced: {{ testitem.notSyncCount }}</div>
    </div>
</div>
{% endblock content %}
{% block postbody %}
<script>
    $(function () {
        $("#divWaiting").show();
        $("#tblMovies").DataTable({
            "order": [[ 1, "asc" ]],
            columnDefs: [
                {targets: 0, visible: false, searchable: false},
                {targets: 5, sortable: false}
            ]
        });
        $("#divWaiting").hide();
    });
    function addMonitor(rid,pid) {
        $.ajax({
            url : '/api/profileradarr/add/',
            type : 'POST',
            data: { 
                profile_id: pid,
                radarr_id: rid
            },
            success: function(data)
            {
                //alert('success');
                location.reload(true);
            },
            fail: function(xhr, textStatus, errorThrown){
                alert('request failed');
            }
        });
    }
    function delMonitor(id) {
        if(confirm('are you sure?')){
            $.ajax({
                url : '/api/profileradarr/delete/',
                type : 'POST',
                data: { 
                    prid: id
                },
                success: function(data)
                {
                    //alert('success');
                    location.reload(true);
                },
                fail: function(xhr, textStatus, errorThrown){
                    alert('request failed');
               }
            });
        }
    }
</script>
{% endblock postbody %}
