{% extends "./base.html" %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}

<div class='CONTAINER' style="font-size:larger;">

    <ul class="nav nav-tabs" style="margin-top:10px;">
        <li><a href="/jibarr/sitesettings">Media</a></li>
        <li><a href="/jibarr/profiles">Profiles</a></li>
        <li><a href="/jibarr/systemsettings">System</a></li>
        <li><a href="/jibarr/logs">Logs</a></li>
        <li><a href="/jibarr/updates">Updates</a></li>
        <li class="active"><a href="/jibarr/about">About</a></li>
    </ul>

    <div style="padding:10px;font-family:Verdana, Geneva, Tahoma, sans-serif;">
        <img src="{% static 'jibarr/images/Jibarr_Title_Logo.png' %}" /><br />
        Radarr, Sonarr, and Lidarr sister application. It's a utility to allow you to track files that need to be synced to secondary drives. <br />
        <br />
        <div class="subSetting">
            <h4>More info/links for Jibarr:</h4>
            <li>Source: <a href="https://github.com/ExtensiveJS/Jibarr" target="_new">https://github.com/ExtensiveJS/Jibarr</a></li>
            <li>Wiki Site: <a href="https://github.com/ExtensiveJS/Jibarr/wiki" target="_new">https://github.com/ExtensiveJS/Jibarr/wiki</a></li>
            <li>Feature Requests: <a href="https://github.com/ExtensiveJS/Jibarr/issues" target="_new">https://github.com/ExtensiveJS/Jibarr/issues</a></li>
        </div>
    </div>
</div>
{% endblock content %}
{% block postbody %}
<script>
    $(function () {
    });
</script>
{% endblock postbody %}