{% extends "./base.html" %}
{% load static %}
{% block title %}Movie List{% endblock title %}
{% block javascript%}
<style>
    .movieContainer {float:left;max-width:200px;width:18%;height:390px;margin-right:20px;margin-bottom:30px;border-radius:3px;box-shadow: 5px 5px lightgrey;padding:10px;border:1px solid lightgrey;}
    .siteContainer {cursor:pointer;background-color:#337ab7;color:white;font-size:x-small;margin-top:3px;text-align:center;border-radius:3px;padding-top:2px;}
    .qualityContainer {background-color:goldenrod;color:white;font-size:x-small;margin-top:3px;text-align:center;border-radius:3px; }
</style>
{% endblock javascript %}
{% block content %}
<div class='CONTAINER'>
    {% if system_settings.radarr_enabled == 1 %}
        <div style="width:250px;background-color:aqua;text-align:center;font-size:larger;border-radius:3px;margin-bottom:7px;">
            Latest additions - Movies
        </div>
        {% for val in radarr_list.movielist %}
            <div class="movieContainer">
                <div>
                    <img src="{{ system_settings.radarr_path }}/MediaCover/{{ val.r_id }}/poster.jpg" style="cursor:pointer;width:100%" />
                </div>
                <div class="qualityContainer">{{ val.quality }}</div>
                {% if val.tmdbid %}
                <div class="siteContainer" onclick="window.open('http://themoviedb.org/movie/{{ val.tmdbid }}');">The Movie DB</div>  
                {% endif %}
                {% if val.imdbid %}
                <div class="siteContainer" onclick="window.open('http://imdb.com/title/{{ val.imdbid }}');">IMDB</div>
                {% endif %}
                {% if val.youtube %}
                <div class="siteContainer" onclick="window.open('http://youtube.com/watch?v={{ val.youtube }}');">Trailer</div>
                {% endif %}
                {% if val.website %}
                <div class="siteContainer" onclick="window.open('http://{{ val.website }}');">Homepage</div>
                {% endif %}
                {% if val.tmdbid %}
                <div class="siteContainer" onclick="window.open('http://trakt.tv/search/tmdb/{{ val.tmdbid }}?id_type=movie');">Trakt</div>   
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    {% if system_settings.sonarr_enabled == 1 %}
        <br />
    {% endif %}
    {% if system_settings.lidarr_enabled == 1 %}
        <br />
    {% endif %}

</div>
{% endblock content %}
{% block postbody %}
<script>
    $(function () {
    });
</script>
{% endblock postbody %}