{% extends "./base.html" %}
{% load static %}
{% block title %}Movies{% endblock title %}
{% block javascript%}
{% endblock javascript %}
{% block content %}

<div class='CONTAINER'>
    <div style="margin:5px 5px 20px auto;float:right;border:1px dotted silver;height:25px;padding:3px;border-radius:5px;background-color:lightblue;">
        <a href="?filter=all"><i style="padding-left:3px;padding-right:3px;cursor:pointer;" class='glyphicon glyphicon-record' title='Show All' onclick="filterResults('all');"></i></a>
        <a href="?filter=unmonitored"><i style="padding-right:3px;cursor:pointer;" class='glyphicon glyphicon-star-empty' title='Show Unmonitored' onclick="filterResults('unmon');"></i></a>
        <a href="?filter=monitored"><i style="padding-right:3px;cursor:pointer;" class='glyphicon glyphicon-star' title='Show Monitored' onclick="filterResults('mon');"></i></a>
    </div>
    <div style="float:right;margin:5px 45px 20px auto;">
        <input type="text" id="txtSearchText" style="width:250px;height:25px;" onkeyup="startSearch(event);" />
        <button id="btnSearch" class="btn btn-primary btn-sm" onclick="filterResults();">Search</button>
    </div>

    <div style="margin-top:55px;">
        <div class="divRow" style="height:35px;font-weight:bold;vertical-align:bottom;padding-top:5px;">
            <div style="display:none;">val.title (val.releaseYear)</div>
            <div style="width:70;float:left;text-align:center;">&nbsp;</div>
            <div style="float:left;">Title</div>
            <div style="width:65px;float:right;margin-right:0px;">&nbsp;</div>
            <div style="width:100px;float:right;">Links</div>
            <div style="width:120px;float:right;">Quality</div>
            <div style="width:75px;float:right;">Rating</div>
            <div style="width:135px;float:right;">Released</div>
        </div>
        {% for val in testitem.movielist %}
            <div class="divRow" style="height:90px;padding-top:5px;">
                <div id="divTitle_{{ val.r_id }}" style="display:none;">{{ val.title }} ({{ val.releaseYear }})</div>
                <div style="width:70;float:left;text-align:center;">
                    {% if system_settings.isConnected %}
                    <img src="{{ system_settings.radarr_path }}/MediaCover/{{ val.r_id }}/poster.jpg" style="width:50px;cursor:pointer;" onclick="window.open('http://localhost:7878/MediaCover/{{ val.r_id }}/poster.jpg');" />
                    {% else %}
                    <img src="{% static 'jibarr/images/no_image.png' %}" style="width:50px;cursor:pointer;" />
                    {% endif %}
                </div>
                <div style="float:left;">
                    <a href="/jibarr/moviedetails?id={{ val.r_id }}">{{ val.title }}</a>
                </div>
                <div id="divAction_{{ val.r_id }}" style="width:65px;float:right;margin-right:0px;text-align:center;font-size:medium;">
                    {% if val.isMonitored %}
                    <i class="glyphicon glyphicon-star" style='cursor:pointer;' title="Monitored" onclick='delMonitor({{ val.media_id }},{{ val.r_id }});' ></i>
                    {% if val.isNewer %}
                    <i class='glyphicon glyphicon-save' title='Sync Needed'></i>
                    {% else %}
                    <i class='glyphicon glyphicon-saved' title='Synced' style="color:silver;"></i>
                    {% endif %}
                    {% else %}
                    <i class="glyphicon glyphicon-star-empty" style='cursor:pointer;' title="Un-Monitored" onclick='addMonitor({{ val.r_id }});'></i>
                    {% endif %}
                </div>
                <div style="width:100px;float:right;">
                    {% if val.tmdbid %}
                    <span class="siteCallout"><a href='http://themoviedb.org/movie/{{ val.tmdbid }}' target="_new">The Movie DB</a></span>
                    {% endif %}
                    {% if val.imdbid %}
                    <span class="siteCallout"><a href='http://imdb.com/title/{{ val.imdbid }}' target="_new">IMDB</a></span>
                    {% endif %}
                    {% if val.youtube %}
                    <span class="siteCallout"><a href='http://youtube.com/watch?v={{ val.youtube }}' target="_new">Trailer</a></span>
                    {% endif %}
                    {% if val.website %}
                    <span class="siteCallout"><a href='http://{{ val.website }}' target="_new">Homepage</a></span>
                    {% endif %}
                    {% if val.tmdbid %}
                    <span class="siteCallout"><a href='http://trakt.tv/search/tmdb/{{ val.tmdbid }}?id_type=movie' target="_new">Trakt</a></span>
                    {% endif %}
                </div>
                <div style="width:120px;float:right;">
                    {% if val.quality %}
                    <span class="qualityCallout">{{ val.quality }}</span>
                    {% else %}
                    &nbsp;
                    {% endif %}
                </div>
                <div style="width:75px;float:right;">{{ val.rating }}</div>
                <div style="width:135px;float:right;">{{ val.releaseDate }}</div>
            </div>
        {% endfor %}
        <div style="height:50px;">
            <div style="float:right;margin-right:30px;padding-top:3px;font-size:small;font-weight:bold;;white-space: nowrap;width:180px;">
                <div style="float:left;width:150px;text-align:right;padding-right:15px;">total movies</div><div style="width:30px;padding-right:10px;">{{ pageStuff.totalRecords }}</div>
                <div style="float:left;width:150px;text-align:right;padding-right:15px;">total monitored</div><div style="width:30px;padding-right:10px;">{{ testitem.monitoredCount }}</div>
                <div style="float:left;width:150px;text-align:right;padding-right:15px;">total synced</div><div style="width:30px;padding-right:10px;">{{ testitem.syncCount }}</div>
                <div style="float:left;width:150px;text-align:right;padding-right:15px;">total not synced</div><div style="width:30px;padding-right:10px;">{{ testitem.notSyncCount }}</div>
            </div>
            <div style="float:left;">
                {% if testitem.movielist.has_other_pages %}
                <ul class="pagination">
                    <li><a href="?page=1&filter={{ testitem.filterCriteria }}">First</a></li>
                    {% if testitem.movielist.has_previous %}
                    <li><a href="?page={{ testitem.movielist.previous_page_number }}&filter={{ testitem.filterCriteria }}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    <li class="disabled"><span>{{ testitem.movielist.number }}</span></li>
                    {% if testitem.movielist.has_next %}
                    <li><a href="?page={{ testitem.movielist.next_page_number }}&filter={{ testitem.filterCriteria }}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                    <li><a href="?page={{ testitem.movielist.paginator.num_pages }}&filter={{ testitem.filterCriteria }}">Last</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block postbody %}
<script>
    $(function () {
    });
    function addMonitor(rid) {
        $.ajax({
            url : '/api/profileradarr/add/',
            type : 'POST',
            data: { 
                profile_id: {{ system_profile.id }},
                radarr_id: rid,
                radarr_title: $("#divTitle_" + rid).html()
            },
            success: function(data)
            {
                var reg = new RegExp('^[0-9]+$');
                if(reg.test(data)){
                    $("#divAction_" + rid).html("<i class='glyphicon glyphicon-star' style='cursor:pointer;' title='Monitored' onclick='delMonitor(" + data + "," + rid + ");' ></i>")
                };
            },
            fail: function(xhr, textStatus, errorThrown){
                alert('request failed');
            }
        });
        
    }
    function delMonitor(id,rid) {
        if(confirm('are you sure?')){
            rIdx = 0;
            $.ajax({
                url : '/api/profileradarr/delete/',
                type : 'POST',
                data: { 
                    prid: id,
                    profile_id: {{ system_profile.id }},
                    radarr_title: $("#divTitle_" + rid).html()
                },
                success: function(data)
                {
                    if(data == "DelOK"){
                        $("#divAction_" + rid).html("<i class='glyphicon glyphicon-star-empty' style='cursor:pointer;' title='Not Monitored' onclick='addMonitor(" + rid +");' ></i>")
                    } else {
                        alert("Data not DelOK = " + data);
                    };
                },
                fail: function(xhr, textStatus, errorThrown){
                    alert('request failed');
               }
            });
        }
    }
    function filterResults(){
        if($("#txtSearchText").val().length > 3){
            var url=window.location.href,
                separator = (url.indexOf("?")===-1)?"?":"&",
                newParam=separator + "search=" + $("#txtSearchText").val();
            newUrl=url.replace(newParam,"");
            newUrl+=newParam;
            window.location.href=newUrl;
            //alert(newUrl);
        }
    }
    function startSearch(event) {
        if(event.keyCode==13){
            filterResults();
        }
    }
</script>
{% endblock postbody %}
