{% extends "./base.html" %}
{% load static %}
{% block title %}Profiles{% endblock title %}
{% block javascript%}
{% endblock javascript %}
{% block content %}

<div class='CONTAINER' style="font-size:larger;">

    <ul class="nav nav-tabs" style="margin-top:10px;">
        <li><a href="/jibarr/sitesettings">Media</a></li>
        <li class="active"><a href="/jibarr/profiles">Profiles</a></li>
        <li><a href="/jibarr/systemsettings">System</a></li>
        <li><a href="/jibarr/logs">Logs</a></li>
        <li><a href="/jibarr/updates">Updates</a></li>
        <li><a href="/jibarr/about">About</a></li>
    </ul>

    <h2>Profiles <i class="glyphicon glyphicon-plus ADDBUTTON" onclick="showAdd();" title="Add"></i></h2><br />
    <div>
        <div class="divRow">
            <div style="width:55%;float:left;font-weight:bold;">Name</div>
            <div style="width:19%;float:left;font-weight:bold;">Last Run</div>
            <div style="width:20%;float:left;font-weight:bold;">Overrides</div>
            <div style="width:5%;float:left;">&nbsp;</div>
        </div>
        {% for var in profile_list %}
            <div class="divRow">
                <div style="width:55%;float:left;">{{ var.profile_name }}</div>
                <div style="width:19%;float:left;">{{ var.profile_lastRun }}</div>
                <div style="width:20%;float:left;"><i class="glyphicon glyphicon-saved ADDBUTTON" style="margin-left:20px;" title="Mark All Movies as Monitored" onclick="markmoviesmonitored({{ var.id }});"></i></div>
                <div style="width:5%;float:left;"><i class="glyphicon glyphicon-remove-circle DELBUTTON" onclick="delData({{ var.id }});"></i></div>
            </div>
        {% endfor %}
    </div>

</div>
<div id="divDialog" title="Create new profile" style="width:360px;">
    <div style="float:left;width:100px;text-align:right;padding-right:5px;height:35px;">Profile Name:</div>
    <div style="float:left;width:150px;height:35px;"><input type="text" id="txtNewProfileName" /></div>
    <div style="margin-top:15px;"><button type="button" class="btn btn-primary btn-sm" onclick="saveNew();" style="float:right;">Save</button></div>
</div>
{% endblock content %}
{% block postbody %}
<script>
    $(function () {
        $("#divDialog").dialog({
            autoOpen: false,
            modal: true
        })
    });
    function showAdd() {
        $("#divDialog").dialog("open");
    }
    function saveNew() {
        // call save service
        $.ajax({
            url : '/api/profile/add/',
            type : 'POST',
            data: { 
                profile_name: $("#txtNewProfileName").val(),
                profile_lastRun: 'Jan 01 1900 11:59:59'
            },
            success: function(data)
            {
                //alert('success');
                location.reload(true);
            },
            fail: function(xhr, textStatus, errorThrown){
                alert('request failed');
            }
        });
    }
    function delData(id) {
        if(confirm('are you sure?')){
            // call delete service
            $.ajax({
            url : '/api/profile/delete/',
            type : 'POST',
            data: { 
                profile_id: id
            },
            success: function(data)
            {
                //alert('success');
                location.reload(true);
            },
            fail: function(xhr, textStatus, errorThrown){
                alert('request failed');
            }
        });
        }
    };
    function markmoviesmonitored(id) {
        if(confirm("Are you sure you want to mark ALL movies as Monitored?")){
            $("#spanWaiting").show();
            $.ajax({
            url : '/api/markmoviesmonitored/',
            type : 'POST',
            data: { 
                prof_id: id
            },
            success: function(data)
            {
                //alert('success');
                location.reload(true);
            },
            error:function (xhr, ajaxOptions, thrownError){
                alert('request error' + xhr.status);
                $("#spanWaiting").hide();
            },
            fail: function(xhr, textStatus, errorThrown){
                $("#spanWaiting").hide();
                alert('request failed');
            }
        });
        }
    }
</script>
{% endblock postbody %}