{% extends "./base.html" %}
{% load static %}
{% block title %}Sync{% endblock title %}
{% block javascript%}
<style>
    .ui-dialog-titlebar {display: none;}
    .ui-widget-overlay {
    opacity: .50;
    filter: Alpha(Opacity=30);
    }
</style>
{% endblock javascript %}
{% block content %}

<div class='CONTAINER'>
        {% if system_settings.radarr_enabled == 1 %}
        <div style="padding-top:20px;" id="synclist">
            <div class="divRow" style="height:35px;">
                <div style="width:35px;float:left;text-align:center;"><input type="checkbox" id="chkAll" /></div>
                <div style="float:left;font-weight:bold;font-size:large;">Movies Awaiting Sync</div>
                <div style="float:right;padding-right:15px;">Size</div>
            </div>
            {% for val in radarr_list.movielist %}
                <div class="divRow">
                    <div style="width:35px;float:left;text-align:center;"><input type="checkbox" tag="{{ val.id }}" /></div>
                    <div style="float:left;height:27px;margin-top:3px;"><a href="http://themoviedb.org/movie/{{ val.tmdbid }}" target="_new">{{ val.title }}</a></div>
                    <div style="float:right;height:27px;margin-top:3px;">{{ val.fileSize }}</div>
                </div>
            {% endfor %}
            <div class="divRow" style="text-align:right;padding-right:5px;">Total Size:&nbsp;&nbsp; {{ radarr_list.totalSize }}</div>
        </div>
        <br />
        <button type="button" class="btn btn-primary btn-sm" onclick="runDriveSelect();">Run Sync</button>
        {% endif %}
    </div>



    <div id="divDialog" title="Validate Destination" style="border-radius:3px;padding:10px;border:1px solid lightgrey;">
        <div style="height:35px;">
            <i class="glyphicon glyphicon-folder-open" style="padding-top:5px;padding-right:5px;font-size:larger;float:right;" onclick="browseForFolder();"></i>
            <input type="text" id="txtDestination" class="form-control" style="width:240px;" value="{{ prof_lastPath }}" />
        </div>
        <div style="margin-top:15px;">
            <input type="button" style="float:right;" value="Start" class="btn btn-primary btn-sm" onclick="runProcessing();">
            <button type="button" style="float:right;margin-right:4px;" class="btn btn-primary btn-sm" onclick="$('#divDialog').dialog('close');">Cancel</button>    
            </div>
    </div>




    <div id="divDirBrowser" style="border-radius:5px;">
        <div>
            <div>
                <input type="text" id="txtSelectedFolder" class="input-sm" style="float:left;width:100%;">
            </div>
            <div id="divDirList" style="background-color:white;width:100%;height:270px;border:1px groove black;overflow:auto; ">
                here
            </div>
            <div style="padding-top:5px;">
                <button type="button" style="float:right;" class="btn btn-primary btn-sm" onclick="fillFolder();">Select</button>    
                <button type="button" style="float:right;margin-right:4px;" class="btn btn-primary btn-sm" onclick="$('#divDirBrowser').dialog('close');">Cancel</button>    
            </div>
            <div><input type="text" id="txtSelectFolderFull" hidden></div>
        </div>
    </div>





{% endblock content %}
{% block postbody %}
<script>
    $(function () {
        $("#divDialog").dialog({
            autoOpen: false,
            height: 115,
            width: 310,
            modal: true,
            position: { my: "bottom", at: "center"}
        })
        $("#divDirBrowser").dialog({
            autoOpen: false,
            modal: true,
            height: 360,
            width: 450,
            positon: {my: "top", at: "top"}
        })
        
        // Handle click on "Select all" control
        $('#chkAll').on('click', function(){
            $('input:checkbox').not(this).prop('checked', this.checked);
        });
        
        var folder = document.getElementById("myFolderInput");
        folder.onchange=function(){
            var files = folder.files,
                len = files.length,
                i;
                alert('stuff');
            for(i=0;i<len;i+=1){
                console.log(files[i]);
            }
        }

    });
    function runDriveSelect() {
        $("#divDialog").dialog("open");
    };
    function runProcessing(){
        var idList = new Array();
        cnt = 0
        $('#synclist input:checked').each(function() {
            idList.push($(this).attr('tag'));
            cnt = cnt + 1;
        });
     
        var myToast = $().toastmessage('showToast', {
            text     : 'Processing ' + cnt + ' files',
            sticky   : true,
            position : 'bottom-right',
        //    type     : 'notice'
        });
        $("#spanWaiting").show();
        $("#divDialog").dialog("close");
        
        $.ajax({
            url : '/api/runsync/',
            type : 'POST',
            data: { 
                idlist: idList,
                destDir: $("#txtDestination").val(),
                prof_id: {{ prof_id }},
            },
            success: function(data)
            {
                $("#spanWaiting").hide();
                $().toastmessage('removeToast', myToast);
                location.reload();
            },
            fail: function(xhr, textStatus, errorThrown){
                alert('request failed');
                $().toastmessage('removeToast', myToast);
            }
        });
        
    };
    function formatBytes(a,b){if(0==a)return"0 Bytes";var c=1024,d=b||2,e=["Bytes","KB","MB","GB","TB","PB","EB","ZB","YB"],f=Math.floor(Math.log(a)/Math.log(c));return parseFloat((a/Math.pow(c,f)).toFixed(d))+" "+e[f]}
    
    function browseForFolder() {
        $("#divDirBrowser").dialog("open");
        $("#txtSelectFolderFull").val($("#txtDestination").val());
        $("#txtSelectedFolder").val($("#txtDestination").val());
        goGetFolders($("#txtDestination").val())
    }
    function goGetFolders(f) {
        $("#txtSelectFolderFull").val(f);
        $("#txtSelectedFolder").val(f);
        $.ajax({
            url : '/api/GetFolders/',
            type : 'POST',
            data: { 
                startDir: f
            },
            success: function(data)
            {
                var dc = "";
                var count = ($("#txtSelectedFolder").val().match(/\\/g) || []).length;
                if(count > 1){
                    var upFolder = $("#txtSelectedFolder").val().lastIndexOf("\\");
                    var upFolderUp = $("#txtSelectedFolder").val().substring(0,upFolder).lastIndexOf("\\");
                    var upFolderUpText = $("#txtSelectedFolder").val().substring(0,upFolderUp + 1);
                    dc = dc + "<div style='padding-left:3px;cursor:pointer;' onclick=\"goGetFolders('" + upFolderUpText.replace(/\\/g,'\\\\') + "');\"><i class='glyphicon glyphicon-arrow-up' style='padding-right:3px;'></i>...</div>";
                } else {
                    //dc = dc + "<div style='padding-left:3px;'><i class='glyphicon glyphicon-hdd' style='padding-right:3px;'></i>My Computer</div>";
                };
                for (index = 0; index < data.length; ++index) {
                    var newFldr = $("#txtSelectedFolder").val() + data[index] + "\\";
                    dc = dc + "<div onclick=\"goGetFolders('" + newFldr.replace(/\\/g,'\\\\') + "');\" style='padding-left:3px;cursor:pointer;'><i class='glyphicon glyphicon-folder-close' style='padding-right:3px;'></i>" + data[index] + "</div>";
                }
                $("#divDirList").html(dc);
                
            },
            fail: function(xhr, textStatus, errorThrown){
                alert('request failed');
            }
        });
    }
    function fillFolder() {
        $("#txtDestination").val($("#txtSelectedFolder").val());
        $("#divDirBrowser").dialog("close");
    }
</script>
{% endblock postbody %}