{% extends "./base.html" %}
{% load static %}
{% block title %}Settings{% endblock title %}
{% block javascript%}
<style>
    .subSetting {font-size:smaller;}
    .subSettingHelp {font-size:small;cursor:pointer;padding-left:4px;color:dodgerblue;}
    .subSettingLabel {float:left;width:200px;text-align:right;padding-right:5px;font-family:monospace;}
    .subSettingTextbox {font-size:small;width:250px;}
</style>
{% endblock javascript %}
{% block content %}

<div class='CONTAINER' style="font-size:larger;">

    <ul class="nav nav-tabs" style="margin-top:10px;">
        <li class="active"><a href="/jibarr/settings">Media</a></li>
        <li><a href="/jibarr/profiles">Profiles</a></li>
        <li><a href="/jibarr/logs">Logs</a></li>
        <li><a href="/jibarr/updates">Updates</a></li>
        <li><a href="/jibarr/about">About</a></li>
    </ul>
    
    <div style="height:160px;">
        <div style=font-size:larger;margin-left:15px;margin-bottom:10px;padding-top:20px;padding-left:25px;border-bottom:1px solid lightgrey;">Movies</div>
        <div class="subSetting" style="width:49%;float:right;">
            <div style="width:auto;height:25px;">
                <div>Last Synced:</div>
                <div>
                    {{ system_settings.radarr_last_sync }}
                    <i class="glyphicon glyphicon-refresh ADDBUTTON" style="margin-left:20px;" onclick="runSync();"></i>
                </div>
            </div>
        </div>
        <div class="subSetting" style="width:49%;float:left;">
            <div style="width:auto;height:30px;">
                <div class="subSettingLabel">RADARR Enabled:</div>
                <div><input type="checkbox" id="chkRadarrEnabled" {% if system_settings.radarr_enabled %} checked {% endif %} /></div>
            </div>
            <div style="width:auto;height:30px;">
                <div class="subSettingLabel">RADARR Path:</div>
                <div><input class="subSettingTextbox" type="text" id="txtRadarrPath" value="{{ system_settings.radarr_path }}" /><i class="glyphicon glyphicon-info-sign subSettingHelp" title="The URL to the root of your Radarr site, typically http://localhost:7878"></i></div>
            </div>
            <div style="width:auto;height:30px;">
                <div class="subSettingLabel">RADARR APIKey:</div>
                <div><input class="subSettingTextbox" type="text" id="txtRadarrAPIKey" value="{{ system_settings.radarr_apikey }}" /><i class="glyphicon glyphicon-info-sign subSettingHelp" title="The API key provided by Radarr to access the site."></i></div>
            </div>
        </div>
    </div>

    <div>
        <div style="font-size:larger;margin-left:15px;margin-bottom:10px;padding-top:20px;padding-left:25px;border-bottom:1px solid lightgrey;">TV Shows</div>
        <div class="subSetting">
            <div style="width:auto;height:30px;">
                <div class="subSettingLabel">SONARR Enabled:</div>
                <div><input type="checkbox" id="chkSonarrEnabled" {% if system_settings.sonarr_enabled %} checked {% endif %} disabled /></div>
            </div>
            <div style="width:auto;height:30px;">
                <div class="subSettingLabel">SONARR Path:</div>
                <div><input class="subSettingTextbox" type="text" id="txtSonarrPath" value="{{ system_settings.sonarr_path }}" disabled /><i class="glyphicon glyphicon-info-sign subSettingHelp" title="The URL to the root of your Sonarr site, typically http://localhost:8989"></i></div>
            </div>
            <div style="width:auto;height:30px;">
                <div class="subSettingLabel">SONARR APIKey:</div>
                <div><input class="subSettingTextbox" type="text" id="txtSonarrAPIKey" value="{{ system_settings.sonarr_apikey }}" disabled /><i class="glyphicon glyphicon-info-sign subSettingHelp" title="The API key provided by Sonarr to access the site."></i></div>
            </div>
        </div>
    </div>

    <div>
        <div style="font-size:larger;margin-left:15px;margin-bottom:10px;padding-top:20px;padding-left:25px;border-bottom:1px solid lightgrey;">Music</div>
        <div class="subSetting">
            <div style="width:auto;height:30px;">
                <div class="subSettingLabel">LIDARR Enabled:</div>
                <div><input type="checkbox" id="chkLidarrEnabled" {% if system_settings.lidarr_enabled %} checked {% endif %} disabled /></div>
            </div>
            <div style="width:auto;height:30px;">
                <div class="subSettingLabel">LIDARR Path:</div>
                <div><input class="subSettingTextbox" type="text" id="txtLidarrPath" value="{{ system_settings.lidarr_path }}" disabled /><i class="glyphicon glyphicon-info-sign subSettingHelp" title="The URL to the root of your Lidarr site, typically http://localhost:8686"></i></div>
            </div>
            <div style="width:auto;height:30px;">
                <div class="subSettingLabel">LIDARR APIKey:</div>
                <div><input class="subSettingTextbox" type="text" id="txtLidarrAPIKey" value="{{ system_settings.lidarr_apikey }}" disabled /><i class="glyphicon glyphicon-info-sign subSettingHelp" title="The API key provided by Lidarr to access the site."></i></div>
            </div>
        </div>
    </div>
    <div style="text-align:right;" >
        <button type="button" class="btn btn-primary btn-sm" onclick="saveSettings();">Save</button>
    </div>

</div>

{% endblock content %}
{% block postbody %}
<script>
    $(function () {
    });
    function saveSettings() {
        var radChk = ($("#chkRadarrEnabled").is(':checked') === true) ? 1 : 0;
        var sonChk = ($("#chkSonarrEnabled").is(':checked') === true) ? 1 : 0;
        var lidChk = ($("#chkLidarrEnabled").is(':checked') === true) ? 1 : 0;
        $.ajax({
            url : '/api/settings/1/',
            type : 'POST',
            data: { 
                id: 1, 
                radarr_enabled: radChk, 
                radarr_path: $("#txtRadarrPath").val(), 
                radarr_apikey: $("#txtRadarrAPIKey").val(),
                sonarr_enabled: sonChk, 
                sonarr_path: $("#txtSonarrPath").val(), 
                sonarr_apikey: $("#txtSonarrAPIKey").val(),
                lidarr_enabled: lidChk, 
                lidarr_path: $("#txtLidarrPath").val(),
                lidarr_apikey: $("#txtLidarrAPIKey").val()},
            success: function(data)
            {
                //alert('success');
                location.reload(true);
            },
            fail: function(xhr, textStatus, errorThrown){
                alert('request failed');
            }
        });
    }
    function runSync(){
        if(confirm('are you sure?')){
            $.ajax({
                url : '/api/dbsync/',
                type : 'POST',
                data: {
                    sourceSync: 'radarr'
                },
                success: function(data)
                {
                    location.reload(true);
                },
                fail: function(xhr, textStatus, errorThrown){
                    alert('request failed');
                }
            });
        }
    }
</script>
{% endblock postbody %}
