{% extends "./base.html" %}
{% load static %}
{% block title %}System Settings{% endblock title %}
{% block javascript%}
{% endblock javascript %}
{% block content %}

<div class='CONTAINER' style="font-size:larger;">

    <ul class="nav nav-tabs" style="margin-top:10px;">
        <li><a href="/jibarr/sitesettings">Media</a></li>
        <li><a href="/jibarr/profiles">Profiles</a></li>
        <li class="active"><a href="/jibarr/systemsettings">System</a></li>
        <li><a href="/jibarr/logs">Logs</a></li>
        <li><a href="/jibarr/updates">Updates</a></li>
        <li><a href="/jibarr/about">About</a></li>
    </ul>
    <div style="padding-bottom:10px;">
        <h2>System Settings: </h2>
    </div>

    <div class="">
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-2 text-right">Upgrades Enabled</div>
            <div class="col-md-2">
                <div class="onoffswitch">
                    <input disabled type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="chkUpgradesEnabled" {% if system_settings.upgrades_enabled %} checked {% endif %}>
                    <label class="onoffswitch-label" for="chkUpgradesEnabled">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-2 text-right">Scheduler Enabled</div>
            <div class="col-md-2">
                <div class="onoffswitch">
                    <input disabled type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="chkSchedulerEnabled" {% if system_settings.scheduler_enabled %} checked {% endif %}>
                    <label class="onoffswitch-label" for="chkSchedulerEnabled">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:right;" >
        <button type="button" class="btn btn-primary btn-sm" onclick="saveSettings();">Save</button>
    </div>
    <div><hr></div>
    <div style="padding-bottom:10px;">
        <h2>Database Backup: <button type="button" class="btn btn-primary btn-sm" onclick="runBackup();">Run</button></h2>
    </div>
    <div>
        Previous Database Backups: (<i style="font-size:small;">{{ backupLocation }}</i>)<br>
        <div style="font-size: smaller;">
        {% for f in backupList %}
        <div class="col-sm-10 row divRow" style="margin-left:20px;">
            <div class="">{{ f }}</div>
        </div>
        {% endfor %}
        </div>
        <div class="col-sm-10 row divRow" style="margin-left:20px;">&nbsp;</div>
    </div>
</div>
{% endblock content %}
{% block postbody %}
<script>
    $(function () {
    });
    function saveSettings() {
        var wasSchChk = {{ system_settings.scheduler_enabled }};
        var wasUpgChk = {{ system_settings.upgrades_enabled }};
        var schChk = ($("#chkSchedulerEnabled").is(':checked') === true) ? 1 : 0;
        var upgChk = ($("#chkUpgradesEnabled").is(':checked') === true) ? 1 : 0;
        if(wasSchChk==schChk && wasUpgChk==upgChk){
            // do nothing?
        } else {
            if(wasSchChk != schChk) {
                toggleScheduler(schChk);
            }
            if(wasUpgChk != upgChk) {
                toggleUpgrades(upgChk);
            }
        }
    }
    function toggleScheduler(s) {
        $("#spanWaiting").show();
        if(s==1){
            $.ajax({
                url : '/api/scheduler',
                type : 'POST',
                data: {
                    runType: 'enable'
                },
                success: function(data){},
                error:function (xhr, ajaxOptions, thrownError){
                    alert('Error toggling scheduler: ' + xhr.status);
                },
                fail: function(xhr, textStatus, errorThrown){
                    alert('Error toggling scheduler: ' + xhr.status);
                }
            });
        }
        if(s==0) {
            $.ajax({
                url : '/api/scheduler',
                type : 'POST',
                data: {
                    runType: 'disable'
                },
                success: function(data){},
                error:function (xhr, ajaxOptions, thrownError){
                    alert('Error toggling scheduler: ' + xhr.status);
                },
                fail: function(xhr, textStatus, errorThrown){
                    alert('Error toggling scheduler: ' + xhr.status);
                }
            });
        }
        $("#spanWaiting").hide();
        location.reload();
    }
    function toggleUpgrades(s) {
        $("#spanWaiting").show();
        if(s==1){
            $.ajax({
                url : '/api/upgrades',
                type : 'POST',
                data: {
                    runType: 'enable'
                },
                success: function(data){},
                error:function (xhr, ajaxOptions, thrownError){
                    alert('Error toggling scheduler: ' + xhr.status);
                },
                fail: function(xhr, textStatus, errorThrown){
                    alert('Error toggling scheduler: ' + xhr.status);
                }
            });
        }
        if(s==0) {
            $.ajax({
                url : '/api/upgrades',
                type : 'POST',
                data: {
                    runType: 'disable'
                },
                success: function(data){},
                error:function (xhr, ajaxOptions, thrownError){
                    alert('Error toggling scheduler: ' + xhr.status);
                },
                fail: function(xhr, textStatus, errorThrown){
                    alert('Error toggling scheduler: ' + xhr.status);
                }
            });
        }
        $("#spanWaiting").hide();
        location.reload();
    }
    function runBackup(){
        if(confirm("Are you sure you want to initiate a backup?")) {
            $.ajax({
                url : '/api/runbackup/',
                type : 'POST',
                data: {
                },
                success: function(data){
                    location.reload();
                },
                error:function (xhr, ajaxOptions, thrownError){
                    alert('Error running backup: ' + xhr.status);
                },
                fail: function(xhr, textStatus, errorThrown){
                    alert('Error backup failed: ' + xhr.status);
                }
            });
        }
    }
</script>
{% endblock postbody %}