{% extends "./base.html" %}
{% load static %}
{% block title %}Updates{% endblock title %}
{% block javascript%}
{% endblock javascript %}
{% block content %}

<div class='CONTAINER' style="font-size:larger;">

    <ul class="nav nav-tabs" style="margin-top:10px;">
        <li><a href="/jibarr/sitesettings">Media</a></li>
        <li><a href="/jibarr/profiles">Profiles</a></li>
        <li><a href="/jibarr/systemsettings">System</a></li>
        <li><a href="/jibarr/logs">Logs</a></li>
        <li class="active"><a href="/jibarr/updates">Updates</a></li>
        <li><a href="/jibarr/about">About</a></li>
    </ul>

    <div style="font-size:small;padding:10px;font-family:Verdana, Geneva, Tahoma, sans-serif;">
        <div style="padding-bottom:20px;">
            <div style="padding-bottom:10px;">
                <h4 style="border-bottom:1px solid lightgrey;">1.0.1 - MMM DD 2019</h4>
                <div><span class="newTag">NEW</span><span class="systemTag">System</span>Added framework for version checker and system Upgrades.</div>
                <div><span class="updateTag">FIXED</span><span class="systemTag">System</span>Changed the Settings page & classes to SiteSettings to avoid namespace conflict.</div>
                <div><span class="updateTag">FIXED</span><span class="systemTag">Radarr</span>DB sync no longer syncs movies without files.</div>
                <div><span class="updateTag">FIXED</span><span class="systemTag">System</span>Updates to the stylesheets for the site.</div>
                <div><span class="updateTag">FIXED</span><span class="systemTag">Radarr</span>Additional error handling for the db sync page.</div>
            </div>
            <div style="padding-bottom:10px;">
                <h4 style="border-bottom:1px solid lightgrey;">1.0.0 - Jan 1 2019</h4>
                <div><span class="newTag">NEW</span><span class="systemTag">System</span>Initial Release for the Jibarr application.</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block postbody %}
<script>
    $(function () {
    });
</script>
{% endblock postbody %}